name: build-and-test

on:
  push:
    branches: [ develop, production ]
  pull_request:
    branches: [ develop, production ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Gradle Environment
        uses: ./.github/workflows/setup-gradle.yml

      - name: Debug build
        run: ./gradlew assembleDebug --stacktrace

      - name: Unit test (all modules)
        run: ./gradlew test --stacktrace

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: '**/build/reports/tests/'

