name: build-and-test

on:
  push:
    branches: [ develop, production ]
  pull_request:
    branches: [ develop, production ]
  workflow_dispatch:

jobs:
  setup-gradle:
    uses: ./.github/workflows/setup-gradle.yml
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Gradle Environment
        uses: ./.github/workflows/setup-gradle.yml

      - name: Debug build
        run: ./gradlew assembleDebug --stacktrace

      - name: Unit test (all modules)
        run: ./gradlew test --stacktrace

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: '**/build/reports/tests/'
